* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* date and time styling */

h3 {
  font-size: 15px;
  background-color: #52c9dc;
  border-radius: 2px;
  padding: 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  opacity: 70%;
}

.container {
  background-color: #82a0a6;
  background: linear-gradient(25deg, #82a3aa 50%, #2b2e38 50%);
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 350px;
  height: 560px;
  border: none;
  background-color: #1a1b28;
}

#text {
  height: 150px;
  width: 100%;
  border: none;
  border-radius: 5px 5px 0 0;
  font-size: 45px;
  font-weight: bolder;
  text-align: right;
  padding: 25px 35px 0 0;
  background-color: #1a1b28;
  padding-top: 50px;
  border: 2px solid #1a1b28;
  color: white;
}

hr {
  margin: 0 22px 0;
  color: #52c9dc;
  font-weight: normal;
  opacity: 50%;
}

.controls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  padding: 0 22px;
}

input[type="button"] {
  border: none;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 24px;
  font-style: normal;
  font-weight: bolder;
  font-size: 16px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #1e2435;
  padding: 15px;
}

input[type="button"]:nth-child(1),
input[type="button"]:nth-child(2),
input[type="button"]:nth-child(3),
input[type="button"]:nth-child(4),
input[type="button"]:nth-child(8),
input[type="button"]:nth-child(12),
input[type="button"]:nth-child(16) {
  background-color: #126d7a;
}

input[type="button"]:nth-child(16) {
  grid-row: span 2;
}

input[type="button"]:active {
  background-color: black;
  color: white;
  border: none;
  transition: 5s ease-in-out;
}

input[type="button"]:hover {
  background-color: black;
  color: white;
  transition: 0.3s ease-in-out;
}

/* responsive design */

@media screen and (max-width: 550px) {
  h3 {
    font-size: 19px;
    background-color: #52c9dc;
    border-radius: 2px;
    padding: 4px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    opacity: 70%;
  }

  #area {
    height: 280px;
    margin-bottom: 30px;
  }

  .calculator {
    height: 100%;
    width: 100vw;
  }

  .controls {
    height: 65vh;
    padding-bottom: 0;
  }
}
